<!-- Configure and load Thebe !-->
{%- if page.repo -%}
<script type="text/x-thebe-config">
	{
        bootstrap: true,
        requestKernel: true,
	binderOptions: {
            repo: "{{ page.repo }}" ,
            ref: "{{ page.branch }}"
        },
        kernelOptions: {
          name: "python3"
        }
	
      }
 </script>

<script type="text/javascript" src="https://unpkg.com/thebe@latest"></script>

<script>
	function add_code_cell(div)
	{
	  var ele = document.createElement("pre");
	  ele.setAttribute("data-executable", "true");
	  ele.setAttribute("data-language", "python");
	  document.getElementById(div).appendChild(ele);
	  thebelab.bootstrap();
	}
</script>


{%- endif -%}
